body{background-color:cyan;}
#mainform {left:50%;text-align:center;background-color:lightgray;width:100%;height:200px; }

h1  {color:green;text-align:center;}

#demo{ background-color:green;text-align:center;width:100%;height:200px;}
